.App {
  text-align: center;
  background-color: #f8faff;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.home-page {
  align-content: center;
}
